[Desktop Entry]
Comment=The Glass Series
Name=Soft Glass
X-KDE-PluginInfo-Author=Phobi4n
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=smithmark347[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-NC-SA
X-KDE-PluginInfo-Name=Soft_Glass
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
