.scite/custom/ext/luarocks/lib/*
.scite/custom/ext/luarocks/share/*
.scite/custom/ext/pure_lua/luarocks/*
.ssh/*
.ssh/controlmasters/*
.config/nvim/lazy/*
.local/share/nvim/**
.config/nvim/sessions/*
**/lazy-lock.json
.local/share/plasma/containmentpreviews/*
.config/OpenRGB/logs/*
.ansible/*

.config/steamtinkerlaunch/compatdata
.config/steamtinkerlaunch/downloads
.config/steamtinkerlaunch/collections
.config/steamtinkerlaunch/gamecfgs/title
.config/steamtinkerlaunch/guicfgs
.config/steamtinkerlaunch/games
.config/steamtinkerlaunch/hedgemodmanager
.config/steamtinkerlaunch/hide
.config/steamtinkerlaunch/lang
.config/steamtinkerlaunch/meta
.config/steamtinkerlaunch/mo2
.config/steamtinkerlaunch/proton
.config/steamtinkerlaunch/tweaks
.config/steamtinkerlaunch/vortex
.config/steamtinkerlaunch/wine

.local/share/cura/.sentry-native
.local/share/cura/*/plugins
.local/share/cura/*/images
.local/share/cura/*.log
.local/share/cura/*.log*
.local/share/cura/**/*.log*
.local/share/cura/**/*.log

.irssi/nicklist*
.irssi/otr
.irssi/scripts/old

**.log
**/logs/

.config/wlxoverlay/conf.d/pw_tokens.yaml

.config/fontconfig/conf.d/*-hm-*.conf
.local/share/nix/repl-history
NixOS/result
NixOS/flake.lock


!**/.keep_me


!.ansible/dotfiles

!.ssh/authorized_keys
!.ssh/config
!.ssh/controlmasters


