.scite/custom/ext/luarocks/lib/*
.scite/custom/ext/luarocks/share/*
.scite/custom/ext/pure_lua/luarocks/*
.ssh/*
.ssh/controlmasters/*
.config/nvim/lazy/*
.local/share/nvim/**
.config/nvim/sessions/*
**/lazy-lock.json
.local/share/plasma/containmentpreviews/*
.config/OpenRGB/logs/*
.ansible/*

.local/share/cura/.sentry-native
.local/share/cura/*/plugins
.local/share/cura/*/images
.local/share/cura/*.log
.local/share/cura/**/*.log


!**/.keep_me


!.ansible/dotfiles

!.ssh/authorized_keys
!.ssh/config
!.ssh/controlmasters


