XTerm*renderFont      : true
XTerm*faceSize        : 9
XTerm*faceName        : monospace

XTerm*utf8            : 1
XTerm*eightBitInput   : false
XTerm*eightBitControl : false
XTerm*eightBitOutput  : true

XTerm*XftFont: monospace:style=Regular:size=9
!, CozetteVector NF:style=Regular:size=9:antialias=false, Noto Color Emoji, Noto Emoji

XTerm*vt100.background:     black
XTerm*vt100.foreground:     gray90
XTerm*cursorColor:          #ffffff
XTerm*underLine:            true
*VT100*saveLines:       1000
*VT100*scrollBar:       true

URxvt*font: xft:CozetteVector NFM:style=Regular:pixelsize=12:antialias=false, xft:CozetteVector NF:style=Regular:pixelsize=12:antialias=false, xft:Noto Color Emoji, xft:Noto Emoji
!URxvt.boldFont: xft:CozetteVector NFM:style=Regular:pixelsize=12:antialias=false
!,xft:CozetteVector NF:style=Regular:pixelsize=12:antialias=false,xft:Noto Color Emoji,xft:Noto Emoji
!URxvt.letterSpace: -1

urxvt*perl-ext-common: default,matcher,searchable-scrollback,clipboard,keyboard-select,url-select,font-size

URxvt.print-pipe: "cat > /dev/null"

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1


URxvt.iso14755: false
URxvt.iso14755_52: false

